*{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 1;
  font-style: normal;

}
nav{
    background-color: transparent;
    height: 50px;
    width: 1100px;
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
}
nav ul a{
    color: red;
    text-decoration: none;
    margin: 20px;
    font-size: larger;
    font-weight: bolder;

}

nav ul li a:hover{
    text-shadow: 2px 4px 6px black ;
}
video{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.overlay{
    position: absolute;
    top: 70%;
    left: 15%;
}
h3{
    color: rgb(251, 231, 82);
    text-shadow: 2px 4px 6px black;
}
h3:hover{
    color: blanchedalmond;
    text-decoration: underline;
    text-shadow: 2px 4px 6px  red;
}
span{
    color: blueviolet;
    font-size: 30px;

}
#home{
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: column;
}
#home::before{
    content: "";
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJqSVGl91oLT51-E8LTHNWd-a9n3hR8R4Zow&s);
    height: 800px;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
}
h1{
    text-align: center;
    background-color: blanchedalmond;
}
.main{
    border: 2px inset blueviolet;
    padding: 20px;
    display: flex;
    position: absolute;
    height: 50px;
    right: 70%;
    margin-top: 200px;
    box-shadow: 2px 4px black;

}

.main:hover{
    scale: 1.30;
}
.pic img{
    height: 500px;
    width: 500px;
}
.pic{
    display: flex;
    font-size: 25px;
    text-align: center;
}
p{
    font-weight: normal;
}
h4{
    background-color: blanchedalmond;
    text-align: center;
}
.gallery{
    box-shadow: 2px 4px 6x 8px rgb(174, 67, 207);
    margin: 10px;

}
.gallery img{
    width: 429px;
    margin: 5px;
    margin-left: 20px;
    cursor: pointer; 
}
.gallery img:hover{
    scale: 1.30;
    box-shadow: 2px 4px 6px chocolate;
}
.row{
    display: flex;

}
.box{
    width: 350px;
    height: 500px;
    margin: 10px;
    border: 4px inset blueviolet;
    background: linear-gradient(to top, blueviolet 50%, rgb(78, 78, 245) 50%);
    background-size: 100% 200%;
    transition: all 0.6s;
    
}
.box:hover{
    background-position: left bottom;
    box-shadow: 4px 6px 8px rgb(91, 229, 73);
}
.box img{
    width: 340px;
    height: 200px;
}
.box p{
    text-align: justify;
    margin: 4px;

}
.box h5{
    font-size: larger;
    color: violet
}
form{
    width: 500px;
    margin-left: 500px;

}
.input{
    width: 100%;
    margin: 10px;
}
button{
    color: aliceblue;
    background-color: black;
    cursor: pointer;
}
.cv{
    background-color: black;
    color: azure;
    text-decoration: yellow;
    padding: 5px;
    margin-left: 70%;
    border-radius: 40%;
}